<div class="jumbotron text-center">
  <h1>SLWiki</h1>
  <p>Create and share Markdown Wikis</p>
</div>
<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <h2>A general use markdown wiki created by Scott Lenander.</h2>
  </div>
</div>
