<div class="jumbotron text-center">
  <h1>SLWiki</h1>
  <p>Create and share Markdown Wikis</p>
  <p><%= link_to "Sign Up", new_user_registration_path, :class => 'btn btn-primary btn-lg' %></p>
</div>
<div class="container">
  <div class="col-md-4">
    <h3>Flexible Markdown Wikis</h3>
    <p>Create as many markdown wikis as you like! There's no limit to what you can do.</p>
  </div>
  <div class="col-md-4">
    <h3>Public or Private?</h3>
    <p>SLWiki allows you to create either public wikis for all to see or private wikis for your most secret thoughts.</p>
  </div>
  <div class="col-md-4">
    <h3>Subject? It's up to you!</h3>
    <p>You can make wikis for anything: school, sports, music, pets, and even your bottle-cap collection.</p>
  </div>
</div>
