<div class="container">
  <div class="row">
    <h1 class="text-center">My Wikis</h1>
  </div>
  <div class="row">
    <div class="col-4">
      <% @wikis.each do |wiki| %>

          <h3><%= link_to wiki.title, wiki %></h3>
        
      <% end %>
    </div>
  </div>
  <nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
      <ul class="nav nav-tabs nav-justified">
        <li><%= link_to ' Create Wiki', new_wiki_path, class: "glyphicon glyphicon-pencil", style: 'color:#eaab23;' %></li>
      </ul>
    </div>
  </nav>
</div>
