// Place all the styles related to the Wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#wiki-show {
  margin-top: 25px;
  margin-bottom: 20px;
  padding: 50px;
}

#collaborators {
  height: 200px;
  overflow: scroll;
}

#new-preview-body {
  height: 1000px;
}
